:root {
    color-scheme: light dark;
}

body {
    min-width: 100px;
    padding: 10px;

    font-family: system-ui;
    text-align: center;
}

#discoveredDevices {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
