:root {
    color-scheme: light dark;
}

body {
    width: max-content;
    padding: 10px;

    font-family: system-ui;
    text-align: center;

    font-size: large;
    margin: auto;
}

#toggleScan {
    font-size: large;
}

button {
    font-size: large;
}

#discoveredDevices {
    display: flex;
    flex-direction: column;
}

.discoveredDevice {
    display: flex;
    flex-direction: column;
}

#discoveredDevices .discoveredDevice:not(:first-of-type) {
    margin-top: 30px;
}

.discoveredDevice .header {
    display: flex;
    flex-direction: row;
    margin: auto;
}
.discoveredDevice .header *:not(:first-child) {
    margin-left: 10px;
}

.iOS .discoveredDevice .connectUdp {
    display: none;
}

.discoveredDevice[data-device-type$="insole"] .deviceType::before {
    content: "👟 ";
}

.discoveredDevice:not([data-connection-status="connected"]) .connected {
    display: none;
}
.discoveredDevice:not([data-connection-status="not connected"]) .notConnected {
    display: none;
}
.discoveredDevice:not([data-connection-status="connecting"]) .connecting {
    display: none;
}
.discoveredDevice:not([data-connection-status="disconnecting"]) .disconnecting {
    display: none;
}

.discoveredDevice[data-connection-type="bluetooth"] .connectionType::after {
    content: "bluetooth"
}
.discoveredDevice[data-connection-type="udp"] .connectionType::after {
    content: "udp"
}

.discoveredDevice .connection {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}
.discoveredDevice .connection *:not(:first-child) {
    margin-left: 10px;
}

.discoveredDevice .status {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

.discoveredDevice .status *:not(:first-child) {
    margin-left: 10px;
}

.discoveredDevice .rssi::before {
    content: "📶 ";
}
.timestampDifference::before {
    content: "⏱️ ";
}
.discoveredDevice .ipAddress::before {
    content: "🛜 ";
}

.hidden {
    display: none;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
