<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.ukaton.demo.Ukaton-Demo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ukaton-demo</string>
			</array>
		</dict>
	</array>
	<key>INIntentsSupported</key>
	<array>
		<string>UKToggleDeviceScanIntent</string>
	</array>
	<key>SFSafariCorrespondingIOSAppBundleIdentifier</key>
	<string>com.ukaton.demo.Ukaton-Demo-iOS</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
	</array>
</dict>
</plist>
